.naz { font-size: 9px; font-family: Arial, Helvetica, sans-serif; }
.text-l { font-size: 11px; border-bottom-width: 1px; border-bottom-style: solid; font-family: Arial, Helvetica, sans-serif; text-align:right;}
.text-sl { font-size: 12px; font-family: Arial, Helvetica, sans-serif; }