html,
body {
    height: 100%;
}

img#bg {
    /* Stretch background */
        position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:-3;
}
/* Reset the container */
.container {
  width: 970px;
  max-width: none !important;
}
.container-non-responsive {
 margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* Set width to your desired site width */
  width: 1170px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

ul {
  text-align: justify;
  line-height: 0;
 
  /* Opera Presto */
  font-size: 1px;
 
  /* IE6-7 */
  text-justify: newspaper; 
  zoom: 1;
  text-align-last: justify;
}
ul:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: "";
  display: inline-block;
}
ul li  {
  display: inline-block;
  text-align: left;
 
  /* Восстанавливаем обнулённые свойства */
  line-height: normal;
  font-size: 14px;
 
  /* Opera Presto */
  vertical-align: top;
 
  /* IE6-7 */
  //display : inline;
  //zoom : 1;
}

/*Old way of hover. Replaced with JS in main.php
.dropdown:hover .dropdown-menu {
display: block;
}*/